<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student's list management</title>
</head>
<body>
<h1>Student's list management</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>firsName</th>
        <th>lastName</th>
        <th>email</th>
        <th>phone</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phone}"></td>
            <td>
                <a th:href="@{/student/edit/{id}{id=${student.id}}}">Edit</a>
                <a th:href="@{/student/delete/{id}{id=${student.id}}}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<a th:href="@{/student/add}">Add student</a>
</body>
</html>